.item {
  width: 100%;
  max-width: 240px;
  cursor: pointer;
}

.item-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 6px;
}

.item-name {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
}

.item-prices {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  align-items: center;
}

.item-price-new {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.item-price-old {
  font-size: 16px;
  text-decoration: line-through;
  color: gray;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
    
}

@media (max-width: 1280px) {
    .item{
        width: 220px;
        font-size: 14px;
    }

    .item img{
        width: 220px;
    }

    .item-price-old{
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    .item{
        width: 170px;
        font-size: 13px;
    }
    .item img{
        width: 170px;
    }
    .item-price-old{
        font-size: 13px;
    }
}

@media (max-width: 800px) {
    .item{
        width: 120px;
        font-size: 12px;
    }
    .item img{
        width: 120px;
    }
    .item-price-old{
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .item{
        width: 160px;
    }
    .item img{
        width: 160px;
    }
}

