.hero {
  position: relative;
  height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: center; /* optional, for centering content */
  align-items: center;     /* optional */
  color: white;            /* ensure text is visible */
}

.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.2),  /* dark at top */
    rgba(0, 0, 0, 0.3)   /* dark at bottom */
  ),
  url("../Assets/home-search-bg.jpg") center/cover no-repeat;
  z-index: -1;  /* keeps it behind content */
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.hero-left h2{
    color: #ffff;
    font-size: 26px;
    font-weight: 600;
}

.hero-left p{
    /* color: #171717; */
    color: #fff;
    font-size: 100px;
    font-weight: 700;
}

.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img{
    width: 105px;
}

.hero-latest-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #6646EE;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.hero-rigth{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1280px) {
    .hero-left{
        padding-left: 100px;
    }
    .hero-left h2{
        font-size: 22px;
    }
    .hero-left p{
        font-size: 60px;
    }
    .hero-hand-icon img{
        width: 80px;
    }
    .hero-latest-button{
        gap: 10px;
        width: 250px;
        height: 60px;
        margin-top: 20px;
        font-size: 18px;
    }
    .hero-rigth img{
        width: 500px;
    }
}

@media (max-width: 1280px) {
    .hero-left{
        padding-left: 100px;
    }
    .hero-left h2{
        font-size: 22px;
    }
    .hero-left p{
        font-size: 60px;
    }
    .hero-hand-icon img{
        width: 80px;
    }
    .hero-latest-button{
        gap: 10px;
        width: 250px;
        height: 60px;
        margin-top: 20px;
        font-size: 18px;
    }
    .hero-rigth img{
        width: 500px;
    }
}

@media (max-width: 1024px) {
    .hero-left{
        padding-left: 80px;
    }
    .hero-left h2{
        font-size: 20px;
    }
    .hero-left p{
        font-size: 50px;
    }
    .hero-hand-icon img{
        width: 65px;
    }
    .hero-latest-button{
        width: 220px;
        height: 50px;
        font-size: 16px;
    }
    .hero-rigth img{
        width: 400px;
    }
}

@media (max-width: 800px) {
    .hero-left{
        padding-left: 30px;
    }
    .hero-left h2{
        font-size: 16px;
    }
    .hero-left p{
        font-size: 40px;
    }
    .hero-hand-icon img{
        width: 50px;
    }
    .hero-latest-button{
        width: 175px;
        height: 40px;
        font-size: 13px;
    }
    .hero-rigth img{
        width: 300px;
    }
}

@media (max-width: 500px) {
    .hero{
        flex-direction: column;
    }
    .hero-rigth{
        display: none;
    }
    .hero-left h2{
        font-size: 18px;
    }
    .hero-left p{
        font-size: 50px;
    }
    .hero-hand-icon img{
        width: 55px;
    }
    .hero-latest-button{
        width: 200px;
        height: 45px;
        font-size: 14px;
        
    }
}